__pycache__/
*.py[cod]
*$py.class

venv/
.env/
.env.*

.env
*.env

.ipynb_checkpoints/

*.log

.DS_Store
Thumbs.db

.vscode/
.idea/

*.csv
*.xlsx
*.parquet

chroma_db/

.cache/
*.bin
*.pt
*.pth

.huggingface/
hf_home/

*.png
*.jpg
*.jpeg

*.pid

build/
dist/
*.egg-info/

*.tmp
*.swp

chroma_db/